@using Handbook.Shared
@using Handbook.Client.Services.UserService

<h3>@Header</h3>

<EditForm Model="User" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div>
        <div class="row">
            <label>Имя</label>
            <div>
                <InputText @bind-Value="@User.FirstName" class="form-control" />
                <ValidationMessage For="() => User.FirstName" />
            </div>
        </div>
        <div class="row">
            <label>Отчество</label>
            <div>
                <InputText @bind-Value="@User.Patronymic" class="form-control" />
                <ValidationMessage For="() => User.Patronymic" />
            </div>
        </div>
        <div class="row">
            <label>Фамилия</label>
            <div>
                <InputText @bind-Value="@User.LastName" class="form-control" />
                <ValidationMessage For="() => User.LastName" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-@ButtonStyle">@ButtonText</button>
</EditForm>

@code {
    [Parameter]
    public string? Header { get; set; }

    [Parameter]
    public User? User { get; set; }

    [Parameter]
    public string? ButtonText { get; set; }

    [Parameter]
    public string ButtonStyle { get; set; } = "info";

    [Parameter]
    public EventCallback OnSubmit { get; set; }
}
